.header-class {
    margin: auto;
    width: 50%;
    
}
.title {
    width: 70%;
    margin: auto;
}
.description{
    width: 80%;
    margin: auto;
}

.start {
    width: 95%;
    margin: auto;
    padding: 10px 20px;
    color: rgb(113, 187, 29);
    background-color: rgb(50, 57, 65);
} 
.start:hover {
    color: lightslategray;

}
.mainArea {
    display: flex;
}
.multipleChoice{
    width: 80%;
    height: 400px;
    margin:auto;
    border: 1px solid rgb(113, 187, 29);
}
body {
    margin: auto;
    width: 100%;
    background-color: cyan;
}
#count {
    margin-right: auto;
}