.header-class {
    margin: auto;
    width: 50%;
    
}
.title {
    width: 70%;
    margin: auto;
}
.description{
    width: 80%;
    margin: auto;
}

.start {
    width: 95%;
    margin: auto;
    padding: 10px 20px;
    color: rgb(113, 187, 29);
    background-color: rgb(50, 57, 65);
} 
.start:hover {
    color: lightslategray;

}
.mainArea {
    display: flex;
}
.multipleChoice{
    width: 75%;
    height: 400px;
    margin:auto;
    border: 1px solid rgb(113, 187, 29);
}
#multipleChoice h1 {
    text-align: center;
    width: 80%;
}
.value:hover{
  background-color: rgb(113, 187, 29);
}
body {
    margin: auto;
    width: 100%;
    background-color: cyan;
}
#timer {
    margin-right: auto;
}
.orderedList{
    margin-left:auto;
    width:80%;

}